# Sanity
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-10-01

# Server-only: create at https://www.sanity.io/manage > API > Tokens
SANITY_API_READ_TOKEN=
